body
{
  margin:auto;
  padding: auto;
background-color:#212F3D;
}
@media only screen and (max-width: 600px) {
    body {
        background-color: black;
    }
    img{
      display: none;
    }
    nav{
      width: 100%;
      float: none;
    }
      #content{
        width: 100%;
      }
      #header{
        width: 100%;
      }
      ul , li{
        width: 100%;
      }
      #form{
        width: 100%;
      }
}
#header
{
  background-color:rgb(103, 182, 218);
  width: 100%;
  height: 55px;
  position: fixed;
}
label{
  color:rgb(130, 22, 22);
  margin-left: 90px;
  font-size: 30px;
}
#header-img
{
  width: 100px;
  height:55px;
  margin:0px;
  padding-left: 0px;
}
nav
{
  font-size: 1.5em;
	float:right;
	width:70%;
}
nav ul
{
  margin-right: 100px;
  float:right;
}
nav li
{
  list-style: none;
  float:left;
  padding:0 10px;
}
nav a
{
  font-family: sans-serif;
  list-style: none;
  text-decoration: none;
  color:rgb(179, 29, 144);
  padding-bottom:5px;
}
nav li.current a,nav a:hover
{
  color:gray;
}
